body{
    text-align: center;
    background-size: cover;
}


.heading{
    width: 100%;
    text-align: left;
}

.heading h3{
    display: inline;
}

.heading button{
    float:right;
    border: 1px solid white;
}

.image{
    width: 50%;
    height: 50%;
}

#start, #status{
    font-size: 22px;
}